
/* nav-new.scss */

.nav-level {
  position: absolute;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 12px;
  font-weight: 500;
  li{
    &:hover {
      background-color: #f2f2f2;
    }
  }
  .back{
    font-size:12px;
    right: auto;
    z-index: 1;
    background: $white;
    width:100%;
    width: -webkit-fill-available;
    display: inline-flex;
    justify-content: flex-start !important;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 2;
    color: $black;
    &:before {
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/owl-prev-black.svg) !important;
      background-size: cover;
      margin-top: 4px;
      margin-left: -4px;
      margin-right: 8px;
    }
  }
  .multilevel-icon{
    &:before {
      @extend %before;
      @extend %before-small;
      @extend %flex-align;
      background-image: url(../../img/svg/owl-next-black.svg);
      background-size: cover;
      z-index: 0;
      position: absolute;
      cursor:pointer;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -8px;
    }
    position: absolute;
    margin-top: -40px;
    right: 0;
    height: 40px;
    width: 40px;
    cursor:pointer;
  }
}
.nav-overlay:before {
  width: 100%;
  height: 100%;
  background: transparent;
  opacity: 1;
}
.nav-overlay:after {
  background: rgba(0,0,0,0.3);
  -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
  transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
}
.nav-overlay:before,
.nav-overlay:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  content: '';
  opacity: 0;
}

nav.open {
  .nav-overlay {
    ul {
      li {
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0);
      }
    }
    &:after {
      width: 100%;
      height: 100%;
      opacity: 1;
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      transition: opacity 0.3s;
    }
  }

}
.main-nav nav ul {
  padding: 0;
  margin: 0;
  li {

    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      line-height: 2;
      color: $black;


    }
  }
}


.submenu {
  position: absolute;
  width: 100%;
  max-width: $navWidth;
  height: 100%;
  background: #fff;
  left: 0;
  transition: 0.3s;
  transform: translate3d(100%, 0, 0);
  top: 0;
  border: 1px solid #fff;
  border-top: none;
  opacity: 0;
  pointer-events: none;

  &.open {
    transform: translate3d(0px,0,0);
    opacity: 1;
    pointer-events: visible;
  }
}

/* navigation.scss */

#menu__toggle {
  opacity: 0;
  display: none;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
#menu__toggle:checked ~ .menu__full-bg-close{
  visibility: visible;
  top: 0;
  left:0;
  position:absolute;
  z-index: 1;
  opacity:1;
  overflow: hidden;
  span{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
#menu__toggle:checked ~ .menu__btn{
  /*position:absolute;
  top:8px;
  left:280px;*/
  &:hover{
    border: solid 1px transparent;
  }
}
.hamburger-menu{
  z-index: 2;
  min-width: 48px;
  padding-right:8px;
}
.menu__btn {
  @extend %btn-size40;
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  z-index: 1;
  border: solid 1px transparent;
  padding: 7px 8px;
  &:hover{
    border-radius: 4px;
    border: solid 1px #e61a1a;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  border-radius: 1px;
  width: 100%;
  height: 4px;
  max-width: 24px;
  background-color: #000;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box-close{
  position: absolute;
  right: -48px;
  left: auto;
  cursor: pointer;
  > span {
    transform: rotate(45deg);
    background-color: #fff;
    height: 2px;
    &:before {
      top: 0;
      transform: rotate(0);
      background-color: #fff;
      height: 2px;
    }
    &:after {
      top: 0;
      transform: rotate(90deg);
      background-color: #fff;
      height: 2px;
    }
  }
  &:hover{
    border: solid 1px transparent;
  }
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -364px;
  width: 264px;
  height: 100%;
  margin: 0;
  list-style: none;
  background-color: $white-bg;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .7s;
  z-index: 2;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #333;

  font-size: 20px;
  font-weight: 600;

  text-decoration: none;
  transition-duration: .7s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}
.menu__full-bg-close{
  position:absolute;
  width: 100%;
  height: 100%;
  height: 100vh;
  z-index: -1;
  opacity:0;
  top: 0px;
  left: 0px;
  transition-duration: .7s;
  z-index: -10;
  position: relative;
  span{
    background:#fff;
    width: 0px;
    height: 100%;
    display: block;
    transition-duration: .15s;
  }
}
.main-nav {
  &__account {
    @extend %flex-align;
    height: 40px;
    background-color: $red-bg;
    padding: 8px 16px;
    width:100%;
    justify-content: flex-start;

    > div {
      @include font-property(normal);
      font-size: 12px;
      line-height: 2;
      letter-spacing: normal;
      color: $white;

      span {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        margin-left:6px;

      }
    }
    img{
      max-height:24px;
      margin-right:8px;
    }
  }

  &__menus{
    @extend %column8px-padding;
    position: relative;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    @media (max-width: $breakepoint-md) {
      padding-bottom: 32px;
    }

  }
  &__item {
    display: block;
    padding: 8px 16px;
    color: $black;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-decoration: none;
    transition-duration: .7s;
    width:100%;

    &:hover {
      background-color: $topline-bg;
    }

  }

  &_special {
    color: #e61a1a;
  }
  &__title{
    @include font-property(normal);
    @extend %flex-align;
    font-size: 12px;
    line-height: 2;
    letter-spacing: normal;
    color: #808080;
    text-transform: uppercase;
    padding: 8px 16px;
    width: 100%;
    &:after{
      @extend %before;
      display: inline-flex;
      width: auto;
      height: 1px;
      background: #bdbdbd;
      flex: 1;
      margin-left: 7px;
    }
  }
  &__category-menu{
    position: relative;
    li {
      input {
        display: none;
      }

      > input:checked ~ .main-nav__category-menu-level {
        top: 0;
        left: 0px;
        right: 0;
        background: #fff;
        padding-top: 30px;
        opacity: 1;
        @include transition(.25s);
        z-index:10;
        height: 100%;
      }

      /*> input:checked ~ .main-nav-cat-btn {
      right: auto;
      left: 16px;
        top: 34px;
        z-index: 11;
        background: $white;
        span{
          display: block;
          font-size:12px
        }
        &:before {
          background-image: url(../../img/svg/owl-prev-black.svg);
        }
      }*/

      .main-nav-cat-btn{
        z-index: 5;
        width: 16px;
        height: 16px;
        margin-top: -28px;
        position: absolute;
        right: 16px;
        cursor:pointer;
        width: auto;
        @extend %flex-align;
        span{
          font-weight:bold;
        }

        &:before {
          @extend %before;
          @extend %before-small;
          background-image: url(../../img/svg/owl-next-black.svg);
          background-size: cover;
        }
      }
    }
    .main-nav__item {
      font-size: 12px;
      font-weight: 500;
      line-height: 2;
      color: $black;
    }
  }


  .main-nav__category-menu-level{
    position:absolute;
    right:-100px;
    opacity: 0;
    top:0px;
  }
  .main-nav-back{
    right: auto;
    left: 16px;
    top: 34px;
    z-index: 1;
    background: $white;
    width:100%;
    width: -webkit-fill-available;
    display: inline-flex;
    justify-content: flex-start !important;
    span{
      display: block;
      font-size:12px
    }
    &:before {
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/owl-prev-black.svg) !important;
      background-size: cover;
    }
  }

  /* width */


}

.main-nav ::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.main-nav ::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 4px;
}

/* Handle */
.main-nav ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #616161;
}

/* Handle on hover */
.main-nav ::-webkit-scrollbar-thumb:hover {
  background-color: #616161;
}


.header{
    .sticky {
      @media (min-width: $breakepoint-lg) {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 14;
    }
      .main-header__logo {
        &:before {
          position: relative;
          opacity: 1;
          @include transition(.25s);
        }
      }
  }
}



  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
@media (min-width: $breakepoint-lg) {
  .sticky + .sticky-top {
    padding-top: 64px;
  }
}
  .sticky .main-header__logo {
    .logo__text {
      display: none;
    }

    &:before {
      @extend %before;
      @extend %before-xlarge;
      background-image: url(../../img/svg/favicon.svg) !important;
      background-size: cover;
      position: relative !important;
      opacity: 1 !important;
      @include transition(.25s);
    }
  }
