/* header__top-currency.scss */

.menuflat {
  display: inline-flex;

  .menuflat__list {
    display: inline-flex;
    list-style: none;
    font-size: 0;

    > .menuflat__item {
      > .menuflat__link {
        font-size: 11px;
        line-height: 1.45;
        color: $topline-color;
        @extend %flex-align;
        padding: 8px;
      }
    }

    > .menuflat__item {
      &:hover {
        background: $red-bg;

        > .menuflat__link {
          color: #fff;
        }

        .menu-arrow {
          display: block;
        }
      }
    }
  }

  &:after {
    @extend %delimeter;
    margin: 8px 0px 8px 8px;
  }

  // dropdown

  .dropdown {
    position: relative;
    display: inline-block;
    list-style: none;
    font-size: 0;

    li {
      font-size: 12px;
      font-weight: 500;
      padding: 0;

      &:hover {
        background-color: $topline-bg;
        color: $topline-color;
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      &:hover a {
        color: $black !important;
      }
    }

    li a {
      padding: 9px 8px 7px 24px;
    }

    &__line {
      height: 1px;
      background-color: #bdbdbd;
    }

    &__count {
      @extend %before-mid;
      @extend %inline8px-margin;
      font-size: 10px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: 1px;
      text-align: center;
      color: $white;
      background-color: $red-bg;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $main-bg;
    min-width: 200px;
    margin-top: 8px;
    z-index: 20;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.45);
    border-radius: 4px;
    right: -30px;

    &:before {
      @extend %before;
      background: transparent;
      width: 100%;
      position: absolute;
      height: 16px;
      margin-top: -10px;
    }

    &__link, .menuflat__link {
      width: 100%;
      align-items: flex-start;
      justify-content: left;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      color: $black;
      padding: 9px 8px 7px 24px;
      display: inline-flex;
    }
  }

  // img

  img {
    max-width: 100%;
    height: auto;
  }

  .dropdown:hover .dropdown-content {
    @media (min-width: $breakepoint-md) {
      display: block;
    }
  }

  .menu-arrow {
    position: absolute;
    width: 100%;
    right: 50%;
    bottom: -9px;
    z-index: 30;
    display: none;

    &:after {
      content: '';
      position: absolute;
      right: 22px;
      right: -8px;
      top: -16px;
      border: 8px solid transparent;
      border-bottom: 8px solid white;
    }
  }

  .currency {
    .dropdown-content {
      min-width: 68px;
      right: -8px;
    }

    &__link {
      width: 100%;
      align-items: center;
      justify-content: center;
      padding: 8px;
    }

  }
}