
////////////    card.scss   ////////////

.card {
  border-radius: 4px;
  background-color: transparent;
  border: solid 3px transparent;
  position: relative;
  &:hover {
    .card__hover-block {
      opacity: 1;
      z-index: 2;
    }

  }

  // img

  &__img{
    position: relative;
    @media (max-width: $breakepoint-md) {
    width: 62%;
    }
    .img{
      border-radius: 4px;
    }
  }

  // hover block

  &__hover-block {
    /*display: none;*/
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.9);
    padding:8px;
    @include transition(.25s);
  }
  &__hover-settings{
    position:absolute;
    top: 8px;
    right: 8px;
    height: 100%;
    input{
      display: none;
    }
  }
  &__hover-settings-label{
    @extend %card_hover_btn_mini;
    &:before{
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/hover-settings.svg);
    }
    &:hover {
      @extend %card_hover_btn_mini-hover;
      &:before {
        /*background-image: url(../../img/svg/hover-settings-h.svg);*/
      }
    }
    label{
      position: absolute;
      width: 100%;
      height: 100%;
      cursor:pointer;
    }
  }
  &__hover-settings-hidden-block{
    visibility: hidden;
    right: -8px;
    max-width: 146px;
    min-width: 146px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 18px;
    z-index: 3;
    top: -8px;
    position: absolute;
  }

  &__hover-settings-checkbox:checked ~ .card__hover-settings-hidden-block {
    visibility: visible;
  }
  &__hover-settings-checkbox:checked ~ .card__hover-settings-label{
    z-index: 5;
  }
  &__hover-settings-checkbox:checked ~ .card__hover-settings-label:before {
    background-image: url(../../img/svg/hover-settings-h.svg);
  }
  &__hover-settings-hidden-block-menu{
    margin-top: 14px;
    text-align: right;
    li{
      padding-top: 8px;
      a{
        @include font-property(normal);
        font-size: 12px;
        line-height: 24px;
        letter-spacing: normal;
        text-align: right;
        color: $white;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }


  &__hover-comments{
    position:absolute;
    bottom: 8px;
    left: 8px;
  }
  &__hover-comments-label{
    @extend %card_hover_btn_mini;
    &:before{
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/png/hover-comments.png);
      background-size: cover;
    }
    &:hover {
      @extend %card_hover_btn_mini-hover;
    }
    span{
      @include font-property(normal);
      margin-left:8px;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.6;
      letter-spacing: 1px;
      text-align: center;
      color: $white;
    }
  }
  &__hover-etc{
    position:absolute;
    bottom: 8px;
    right: 8px;
    >div{
      @extend %card_hover_btn_mini;
      margin-left:8px;
    }
  }
  &__hover-share{
    @extend %card_hover_btn_mini;
    &:before{
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/hover-share.svg);
      background-size: cover;
    }
    &:hover {
      @extend %card_hover_btn_mini-hover;
    }
  }
  &__hover-list{
    @extend %card_hover_btn_mini;
    &:before{
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/hover-add-to-list.svg);
      background-size: cover;
    }
    &:hover {
      @extend %card_hover_btn_mini-hover;
    }
  }
  &__hover-favourites{
    @extend %card_hover_btn_mini;
    &:before{
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/hover-add-to-favourites.svg);
      background-size: cover;
    }
    &:hover {
      @extend %card_hover_btn_mini-hover;
    }
  }
  &__hover-content {
    padding-left: 8px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
  }
  &__hover-item{
    @extend %flex-align;
    margin-top:16px;
    img{
      max-width:32px;
    }
    span{
      @include font-property(normal);
      font-family: $second-font;
      font-size: 11px;
      line-height: 1.45;
      letter-spacing: normal;
      color: $white;
      margin-left: 8px;
    }
  }















  // labels

  .labels{
    @extend %flex-align;
    flex-flow: column;
    position:absolute;
    bottom:8px;
    left: 0;
    width: 100%;
    >div{
      margin-top: 8px;
    }
    div{
      @extend %flex-align;
      @include font-property(normal);
      height:24px;
      max-width:194px;
      text-transform: uppercase;
      border-radius: 2px;
      font-size: 10px;
      font-weight: bold;
      line-height: 1.6;
      letter-spacing: 1px;
      text-align: center;
      color: $white;
    }
    &__save-with-premium{
      @include font-property(normal);
      background-color: #f9aa0a;
      width: 100%;
    }
    &__list {
      >div{
        min-width:32px;
        margin: 0px 4px;
        padding:0px 3px;
      }

    }
    &__new{
      background-color: #4bb13c;
    }
    &__hot{
      &:before{
        @extend %before;
        @extend %before-small;
        background-image:  url("../../img/svg/labels_hot.svg");
      }
      background-color: #f77628;
    }
    &__favorites{
      &:before{
        @extend %before;
        @extend %before-small;
        background-image:  url("../../img/svg/labels_favourites.svg");
      }
      background-color: #e85aef;
    }
    &__sale{
      background-color: #e61a1a;
    }
    &__diorama{
      &:before{
        @extend %before;
        @extend %before-small;
        background-image:  url("../../img/svg/labels_diorama.svg");
      }
      background-color: #2f9add;
    }
  }


  // content


  &__content{
    padding: 8px 10px;
    background-color: $white-bg;
  }
  &__content-line{
    @extend %flex-align;
    width:100%;
    justify-content: space-between;
    align-items: flex-end;
    @media (max-width: $breakepoint-md) {
      position: absolute;
      bottom: 0;
      padding-bottom: 8px;
      padding-right: 16px;
    }
  }
  &__content-title{
    @include font-property(normal);
    font-size: 12px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: normal;
    color: $black;
    margin-bottom: 8px;
  }
  &__content-author{
    @include font-property(normal);
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: normal;
    color: #666666;
    margin-bottom: 8px;
  }


  &__price{
    @include font-property(normal);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.15px;
    color: #101010;
    display: inline-flex;
    align-items: center;
    margin-left:6px;

    @media (max-width: $breakepoint-md) {
    align-items: start;
    margin-left: 0;
    flex-direction: column-reverse;
    }

  }
  &__oldprice{
    font-size: 12px;
    line-height: 2;
    letter-spacing: normal;
    color: #808080;
    margin-left:12px;
    text-decoration: line-through;
    @media (max-width: $breakepoint-md) {
    margin-left:0px;
    }
  }
  &__cart{
    @extend %flex-align;
    span{
      @include font-property(normal);
      font-size: 12px;
      line-height: 2;
      letter-spacing: normal;
      text-align: right;
      color: $black;
      margin-right:8px;
      @media (max-width: $breakepoint-md) {
        display: none;
      }
    }
    @media (max-width: $breakepoint-md) {
    right: 0;
    margin: 0;
    display: initial;
    }
  }
  &__cart-link{
    @extend %flex-align;
    border-radius: 4px;
    border: solid 1px #4bb13c;
    padding:8px;
    &:before{
      @extend %before;
      @extend %before-small;
      background-image:  url("../../img/svg/card_cart.svg");
    }
    &:hover{
      background-color: #4bb13c;
      &:before{
        background-image:  url("../../img/svg/card_cart-white.svg");
      }
    }
  }









  // card types

  &.card_mini {
    max-width: 100%;
    .card__content {
      width: 100%;
      justify-content: space-between;
      align-items: flex-end;
      @media (max-width: $breakepoint-md) {
        width: 38%;
        position:relative;
        /*display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;*/
      }
    }
    .card__content-title,
    .card__content-author{
    display: none;
      @media (max-width: $breakepoint-md) {
        display: block;
      }
    }
  }


  // card condition
  &.card_added-to-cart{
    border: solid 3px #4bb13c;
    .card__cart-link{
      background-color: #4bb13c;
      &:before{
        background-image:  url("../../img/svg/card_cart-white.svg");
      }
    }
  }
  &.card_sale-premium{
    border: solid 3px #f7b228;
  }


  &__hover-mobile{

  }


  &__hover-mobile:checked ~ .card__hover-mobile-label {
    right: -32px;
    left:auto;
    &:before {
      background-image: url(../../img/svg/owl-prev.svg);
    }
  }

  &__hover-mobile{
    display: none;
  }
  &__hover-mobile-label{
    @media (max-width: $breakepoint-md) {
      display: inline-flex;
    }
    @extend %flex-align;
    display: none;
    z-index: 5;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -16px;
    &:before {
      @extend %before;
      @extend %before-small;
      background-image: url(../../img/svg/owl-next.svg);
      background-size: cover;
    }
  }






  @media (max-width: $breakepoint-md) {
    align-items: inherit;
    justify-content: center;
    display: inline-flex;
    &__hover-mobile:checked ~ .card__hover-block {
      opacity: 1;
      z-index: 2;
    }
    &__hover-mobile:not(:checked)~ .card__hover-block {
      opacity: 0;
      z-index: -1;
    }
  }



}