/* main-blocks*/

.main-blocks{
  &__item{
    border-radius: 4px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.11);
    background-color: $white-bg;
    padding:16px;
    //margin-bottom: 16px;
    height: 100%;
    padding-bottom: 0;
    img{
      @media (max-width: $breakepoint-md) {
        width: -webkit-fill-available;
      }
    }
  }
  &__title {
    @include font-property(normal);
    @extend %column8px-padding;
    padding-bottom:24px;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.25px;
    text-align: center;
    color: #101010;
    @media (max-width: $breakepoint-md) {
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.14px;
    }
  }
  &__description{
    @include font-property(normal);
    @extend %column8px-padding;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    height: 72px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  &__content{
    display: flex;
    justify-content: center;
    min-height: auto;
    .tns-inner{
      @media (min-width: $breakepoint-lg) {

      }
      @media (min-width: $breakepoint-lg) {

      }
      @media (min-width: $breakepoint-xl) {

      }

    }
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-height: 262px;
    }
  }
  .row:first-child{
    @media (min-width: $breakepoint-xs) {
      margin-bottom: 0;
    }
    @media (min-width: $breakepoint-lg) {
      margin-bottom: 16px;
    }
  }
  margin-bottom: 40px;
  &_slider{
    @media (max-width: $breakepoint-lg) {
      padding-left:8px;
      padding-right:8px;
      padding-bottom: 8px;
    }
  }
  &-slider{
    padding: 0px 50px;
    display: block;
    position: relative;
    .owl-theme .owl-nav {
      top: 50%;
      margin-top: -12px;
    }
    @media (min-width: $breakepoint-xs) {
      margin-bottom: 16px;
      padding: 0;
    }
    @media (min-width: $breakepoint-md) {
      margin-bottom: 0px;
      padding: 0px 50px;
    }
  }

    .col-12 {
      @media (min-width: $breakepoint-xs) {
        margin-bottom: 16px;

      }
      @media (min-width: $breakepoint-lg) {
      margin-bottom: 0px;
      }

    }




  .tns-controls button[data-controls="prev"] {
    left:8px;
  }
  .tns-controls button[data-controls="next"] {
    right:8px;
  }
  .tns-nav{
    margin-top:8px;
  }
  .tns-ovh{

  }
  @media (max-width: $breakepoint-lg) {
  margin: 40px 0px 24px 0px;
  }


}

.slider-two-rows.owl-theme .owl-nav button{
  position: absolute;
}
.slider-two-rows.owl-theme .owl-nav button.owl-prev{
  left:-34px;
}
.slider-two-rows.owl-theme .owl-nav button.owl-next{
  right:-34px;
}
.slider-two-rows {
  padding-bottom: 0;
  &__item{
    cursor: pointer;
    margin-top: 8px;
    display: block;
    &:first-child{
      margin:0;
    }
    &:hover{
      .slider-two-rows__item-img{
        border: solid 2px #f2f2f2;
      }
      .slider-two-rows__title{
        color: #0030ff;
        text-decoration:underline;
      }
    }
  }
  &__item-img{
    border-radius: 4px;
    border: solid 2px transparent;
    width:100%;
    text-align: center;
    padding:4px;
    padding: 0;
    min-height: 112px;
    max-height: 112px;
    display: flex;
    align-items: center;
  }
  &__item img{
    width: auto !important;
    margin: 0 auto;
    max-width: 192px;
    max-height: 112px;
    @media (max-width: $breakepoint-md) {
      max-width: 100% !important;
    }
  }
  &__title{
    @include font-property(normal);
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: $black;
    margin-top:8px;
    font-size: 14px;
    @media (max-width: $breakepoint-md) {
      font-size: 13px;
      line-height: 1.85;
      letter-spacing: 0.25px;
      min-height:48px;
    }

  }
  &__wrap{

  }
  &__default{
    .slider-two-rows__item-img{
      background-color: #e0f7fa;
    }
  }
  .owl-prev:before {
    background-image: url(../../img/svg/owl-prev-black.svg);
  }
  .owl-next:before {
    background-image: url(../../img/svg/owl-next-black.svg);
  }
  .owl-nav button[class*=owl-] {
    background-color: transparent;
    padding: 0 !important;
  }
}

/* main-trending */

.main-trending{
  @extend %column20px-padding;
  padding-top:40px;
}

.main-sale, .main-new{
  @extend %column20px-padding;
}

.main-advert{
  @extend %column20px-padding;
  img{
    border-radius: 6px;
    width:100%;
  }
  a{
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    img {
      @include transition(.25s);
      &:hover {
        @include transform(scale(1.1));
      }
    }
    @media (max-width: $breakepoint-lg){
      margin-bottom: 16px;
    }
  }
  &__link{
    :first-child{
      margin-top:0;
    }
  }
  .col-lg-6 {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &_padding40{
    @extend %column40px-padding;
  }
  &_full-width{
    margin:0 !important;
  }
}


.main-comunity{
  @extend %column32px-padding;
  background: $white-bg;
  .main-title {
    width: 100%;
    justify-content: space-between;

    &__left {
      width: auto;
      display: inline-flex;
      align-items: center;
      @media (min-width: $breakepoint-xs) {
        flex-direction: column;
      }
      @media (min-width: $breakepoint-ipad) {
        flex-direction: row;
      }
    }

    &__sorting {
      .select {
        border: 0;

        select {
          padding-right: 24px;
          font-size: 12px;
          font-weight: bold;
          line-height: 2;
        }
      }
      @media (min-width: $breakepoint-xs) {
        margin-top:8px;
      }
      @media (min-width: $breakepoint-md) {
        margin-top:0px;
      }
    }
  }
  @media (max-width: $breakepoint-md) {
    .main-title{
      flex-direction: column;
      margin-bottom:16px;
      .button {
        margin-top: 16px;
        width: 100%;
        max-width: 242px;
        display: inline-flex;
        justify-content: center;
      }
    }
  }
}