
.slider{
  position: relative;
  font-size: 16px;
  z-index: 0;
}
/**/


.slider-cards{
  margin:0 !important;
  position: relative;
  .card{
    @media (min-width: $breakepoint-xs) {
      width: 100%;
    }
    @media (min-width: $breakepoint-lg) {
      width: auto;
    }
  }
  >.tns-outer {
    >.tns-controls {
      top: 43%;
    }

    >.tns-controls button {
      color: #FFF;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 44px 16px !important;
      margin-top: -61px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }

      &:before {
        width: 24px;
        height: 24px;
      }
    }

    >.tns-controls button[data-controls="prev"] {
      @media (min-width: $breakepoint-xs) {
        left: -60px;
      }
      @media (min-width: $breakepoint-xxl) {
        left: -72px;
      }
    }

    >.tns-controls button[data-controls="next"] {
      @media (min-width: $breakepoint-xs) {
        right: -60px;
      }
      @media (min-width: $breakepoint-xxl) {
        right: -72px;
      }
    }

    >.tns-controls button[disabled] {
      opacity: 0;
    }
  }

  .slider-cards{
    @media (min-width: $breakepoint-xs) {
      overflow: hidden;
    }

    .tns-ovh{
      @media (min-width: $breakepoint-xs) {
        overflow-y: visible;
      }
      @media (min-width: $breakepoint-md) {
        overflow: hidden;
      }
    }
  }
  .slider-cards__slider, .slider-cards__slider-new{

    @media (min-width: $breakepoint-xs) {
      padding: 20px 0px;
    }
    @media (min-width: $breakepoint-lg) {
      padding: 10px 0px;
      padding: 35px 0px;
    }

    .card_slider {
      .hidden-slider-item {
        justify-content: center;
        align-items: center;
        display: inline-flex;

        img {
          //max-height: 244px;
          width: auto;
          object-fit: cover;
          width: 100%;
          @media (min-width: $breakepoint-xs) and (max-width: $breakepoint-ipad) {
            //max-height: 208px;
            //max-height: 200px;
          }
          @media (max-width: $breakepoint-lg) {
            border-radius: 0px;
          }

        }
      }

      &.over .card__hidden-slider, &.over_l .card__hidden-slider {
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.55);
        @media (min-width: $breakepoint-ipad) and (max-width: $breakepoint-ipad-L1) {
          width: 722px;
          left: 0;
          height: 294px;
          z-index: 20;
        }
        @media (min-width: $breakepoint-lg) {
          //width: 477px;
          //width: 457px;
        }

      }
    }
  }
  .slider_off {
    //transform: initial !important;
  }

  &__show-more{
    @include font-property(normal);
    @extend %column24px-margin;
    @extend %flex-align;
    font-size: 32px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    padding:24px;
    margin-top:40px;
    background-image: url(../../img/jpg/bg_view-all.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 40px;
    position: relative;
    span{
      z-index: 2;
      position: relative;
    }
    &:before{
      @extend %before;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.52);
      border-radius: 40px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover{
      &:before{
        background-color: rgba(0, 0, 0, 0.57);
      }

    }
    @media (min-width: $breakepoint-xs) {
      font-size: 26px;
    }
    @media (min-width: $breakepoint-md) {
      font-size: 32px;
    }

  }

  /******************/

}


section.section-card-slider{
  padding-bottom:0;
  margin-bottom:0;
  @media (min-width: $breakepoint-xs) {
    overflow: hidden;
    margin-bottom:16px;
  }
  @media (min-width: $breakepoint-md) {
    overflow: visible;
  }
  .main-title{
    margin:0;
  }

}

section.section-card-slider {
   .card__hidden-slider{
    @media (min-width: $breakepoint-xs) {
      top: -27%;
    }
     @media (min-width: $breakepoint-md) {
       top: -9%;
     }
  }
}

