/* trending-slider.scss */

.trending-slider{

  &__item{
    @extend %flex-align;
    width: 100%;
  }
  &__left,  &__right{
    display: inline-block;
    @media (min-width: $breakepoint-xs) {
      width:100%;
    }
    @media (min-width: $breakepoint-md) {
      width:50%;
    }
  }
  &__image{
    position: relative;
    width: 100%;
    float: left;
    font-size: 12px;
    background: transparent;
    background-size: cover;

    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    max-height: 700px;
    img{
      flex-shrink:0;
      min-width:100%;
      min-height:100%;
      object-fit: cover;
    }
    &.size1 {
      &:before {
        content: "";
        display: block;
        margin-top: 100%;
      }
    }
    &.size2 {
      &:before {
        content: "";
        display: block;
        margin-top: 50%;
      }
    }
    &.size3 {
      width:50%;
      @media (min-width: $breakepoint-xs) {
        display: none;
      }
      @media (min-width: $breakepoint-md) {
        display: block;
      }
      &:before {
        content: "";
        display: block;
        margin-top: 100%;
      }
    }
    &-content {
      /* Positioning */
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      color: #fff;
      opacity:0;

      /* Styling */
      padding: 20px;
      text-align: center;
      font-size: 20px;
      line-height: 1.6;
      @include font-property(normal);
      background: linear-gradient(transparent, #0000008c);

    }
    &-price{
      font-size: 14px;
      font-weight: 500;
      line-height: 1.71;
    }
    &:hover{
      .trending-slider__image-content {
        opacity:1;
      }
    }

    .trending-slider__image-content {
      &:hover {
        text-decoration: underline;
      }
    }
  }






}


