<div class="footer__payments">
    <div class="container">
        <div class="row row_full">
            <div class="footer__payment-links">
                <img class="footer__payment" src="img/png/footer-mcafee.png" srcset="img/png/footer-mcafee@2x.png 2x, img/png/footer-mcafee@3x.png 3x" alt="payments">
                <img class="footer__payment" src="img/svg/footer-visa.svg" alt="payments">
                <img class="footer__payment" src="img/svg/footer-master.svg" alt="payments">
                <img class="footer__payment" src="img/svg/footer-pp.svg" alt="payments">
                <img class="footer__payment" src="img/svg/footer-ae.svg" alt="payments">
                <img class="footer__payment" src="img/svg/footer-gpay.svg" alt="payments">
                <img class="footer__payment" src="img/svg/footer-applepay.svg" alt="payments">
            </div>
        </div>
    </div>
</div>