/* main_blocks.scss */

.main-blocks{
  margin-bottom: 40px;
  .row{
    @media (min-width: $breakepoint-xs) {
      margin-bottom: 0;
    }
    @media (min-width: $breakepoint-lg) {
      margin-bottom: 16px;
    }
  }
  .col-12 {
    @media (min-width: $breakepoint-xs) {
      margin-bottom: 16px;
    }
    @media (min-width: $breakepoint-lg) {
      margin-bottom: 0px;
    }
  }
  @media (max-width: $breakepoint-lg) {
    margin: 40px 0px 8px 0px;
  }
}