<section class="main-banner">
    <div class="container">
        <!-- style 1 -->
        <div class="row row_full">
            <a href="javascript:;" class="main-advert__link main-advert_full-width">
                <img src="img/jpg/main-banner.jpg" srcset="img/jpg/main-banner@2x.jpg 2x, img/jpg/main-banner@3x.jpg 3x" class="Single" alt="advert">
            </a>
        </div>
        <!-- style 1 -->

        <!-- style 2
       <div class="row">
            <div class="col-lg-6">
                <a href="javascript:;" class="main-advert__link">
                    <img src="img/jpg/main-banner1.jpg" srcset="img/jpg/main-banner1@2x.jpg 2x, img/jpg/main-banner1@3x.jpg 3x" class="Twin" alt="banner">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="javascript:;" class="main-advert__link">
                    <img src="img/jpg/main-banner2.jpg" srcset="img/jpg/main-banner2@2x.jpg 2x, img/jpg/main-banner2@3x.jpg 3x" class="Twin" alt="banner">
                </a>
            </div>
        </div>
        style 2 -->

        <!-- style 3
        <div class="row">
            <div class="col-lg-6">
                <a href="javascript:;" class="main-advert__link">
                    <img src="img/jpg/main-banner3.jpg" srcset="img/jpg/main-banner3@2x.jpg 2x, img/jpg/main-banner3@3x.jpg 3x" class="Twin" alt="banner">
                </a>
            </div>
            <div class="col-lg-6">
                <a href="javascript:;" class="main-advert__link">
                    <img src="img/jpg/main-banner2.jpg" srcset="img/jpg/main-banner2@2x.jpg 2x, img/jpg/main-banner2@3x.jpg 3x" class="Twin" alt="banner">
                </a>
                <a href="javascript:;" class="main-advert__link">
                    <img src="img/jpg/main-banner2.jpg" srcset="img/jpg/main-banner2@2x.jpg 2x, img/jpg/main-banner2@3x.jpg 3x" class="Twin" alt="banner">
                </a>
            </div>
        </div>
         style 3 -->
    </div>
</section>