<div class="card__content">
    <a href="javascript:;" class="card__content-title">
        Viserion Ice Dragon 3D Printing Figurine
    </a>
    <div class="card__content-author">
        by <a href="javascript:;">Oliver</a>
    </div>
    <div class="card__content-line">
        <!-- component "card__loop-content-slider-controls" -->
        <ul class="card__controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
            <li class="prev button button_secondary button_m" data-controls="prev" aria-controls="customize" tabindex="-1"></li>
            <li class="next button button_secondary button_m" data-controls="next" aria-controls="customize" tabindex="-1"></li>
        </ul>
        <!-- component "card__loop-content-slider-controls" -->
        <!-- component "card__loop-content-price" -->
        <div class="card__price">
            $24.99
            <div class="card__oldprice">
                $74.99
            </div>
        </div>
        <!-- component "card__loop-content-price" -->
        <!-- component "card__loop-content-cart" -->
        <div class="card__cart">
            <a href="javascript:;" class="card__cart-link"></a>
        </div>
        <!-- component "card__loop-content-cart" -->
    </div>
</div>