
<!--
Class description

card__loop <--
.card_masonry - card with different structure

-->

<div class="card card_masonry">
    <div class="card__img">
        <img src="img/jpg/card-masonry1.jpg" srcset="img/jpg/card-masonry1@2x.jpg 2x, img/jpg/card-masonry1@3x.jpg 3x" alt="trending">
        <div class="card__overlay">
            <div class="card__overlay-type"></div>
            <div class="card__overlay-comments"><span>55</span></div>
        </div>
        <div class="card__overlay-video"></div>
        <!-- hover block -->
        <input id="card__hover-masonry1" class="card__hover-mobile" type="checkbox" />
        <label for="card__hover-masonry1" class="card__hover-mobile-label"></label>
        <div class="card__hover-block">
            <div class="card__hover-etc">
                <div class="card__hover-list"></div>
            </div>
            <div class="card__hover-content">
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover1.svg" alt="Print type">
                    <span>DLP Printer: Anycubic Photon</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover2.svg" alt="Plastic type">
                    <span>FDM/FFF Printer: Ultimaker 3, Prusa i3</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover3.svg" alt="Form type">
                    <span>PLA: Formfutura Grey</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover4.svg" alt="Color type">
                    <span>Resin: Resin 250 g (green)</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover5.svg" alt="Last coomment">
                    <span>Last comment: 21 Nov 19</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover6.svg" alt="Image count">
                    <span>55</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/masonry-hover7.svg" alt="Author">
                    <span>by Rianon Enderson</span>
                </div>
            </div>
        </div>
        <!-- hover block -->
    </div>
</div>