/* card__loop-hover-item.scss */

.card__hover-item {
  @extend %flex-align;
  margin-top: 16px;
}
.card__hover-item img{
    max-width:32px;
  }
.card__hover-item span{
    @include font-property(normal);
    font-family: $second-font;
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: normal;
    color: $white;
    margin-left: 8px;
  }
