/* screens */
$breakepoint-min:                   320px;
$breakepoint-xs:                   360px;
$breakepoint-sm:                   599px;
$breakepoint-md:                   768px;
$breakepoint-lg:                   1024px;
$breakepoint-xl:                   1420px;
$breakepoint-xxl:                   1600px;
$breakepoint-ipad:                   769px;
$breakepoint-ipad-L1:                   1023px;
$breakepoint-ipad-L:                   1025px;
$breakepoint-750:                   750px;
$screen-xs:                   0;
$screen-sm:                   360px;
$screen-md:                   736px;
$screen-lg:                   1016px;
$screen-xl:                   1420px;
$padding-side-xs:                   8px;
$padding-side-sm:                   8px;
$padding-side-md:                   7px;
$padding-side-lg:                   4px;
$padding-side-xl:                   10px;

/* backgrounds */
$main-bg: #fff;
$second-bg: #f2f2f2;
$topline-bg: #f2f2f2;
$red-bg: #d50000;
$red-bg-hover: #b30000;
$white-bg: #fff;
$grey: #f5f5f5;
$blue: #0030ff;

/* colors*/
$topline-color: #666666;
$red: #d93636;
$black: #000;
$white: #fff;
$textColor: #000;
$sale-color: #e61a1a;
$border-color: #bdbdbd;
$black-05: rgba(0, 0, 0, 0.5);
$black-075: rgba(0, 0, 0, 0.75);

/* nav */
$navWidth:264px;

/* typography */
$primary-font: 'Roboto', sans-serif;
$second-font: 'Open Sans', sans-serif;











