<div class="menuflat currency topline__currency">
                <ul class="menuflat__list">
                    <li class="menuflat__item dropdown menuflat_dropdown">
                        <a href="#" class="link menuflat__link currency__link">USD</a>
                        <div class="menu-arrow"></div>
                        <ul class="dropdown dropdown-content">
                            <li class="menuflat__item">
                                <a href="#" class="link menuflat__link currency__link">USD</a>
                            </li>
                            <li class="menuflat__item">
                                <a href="#" class="link menuflat__link currency__link">EUR</a>
                            </li>
                        </ul>
                    </li>
                </ul>
          </div>