<!--

 .card__hidden-slider .component-active - make it visible
 .card__hidden-slider .component-active-left - slider position left (if right space < slider width)

 -->

<div class="card__hidden-slider">
    <!-- component "card__loop-hidden-slider-close" -->
    <div class="card__mob-zoom-close"></div>
    <!-- component "card__loop-hidden-slider-close" -->
    <!-- component "card__loop-hidden-slider-count" -->
    <div class="card__hidden-slider-count">
        <div class="slider-count-current"></div>&nbsp;of&nbsp;<div class="slider-count-total"></div>
    </div>
    <!-- component "card__loop-hidden-slider-count" -->
    <!-- component "card__loop-hidden-slider-slider" -->
    <div class="hidden-slider">
        <div class="hidden-slider-item">
            <img src="img/png/model-iron1.png" alt="Viserion Ice Dragon 3D Printing Figurine">
        </div>
        <div class="hidden-slider-item">
            <img src="img/png/model-iron2.png" alt="Viserion Ice Dragon 3D Printing Figurine">
        </div>
        <div class="hidden-slider-item">
            <img src="img/png/model-iron3.png" alt="Viserion Ice Dragon 3D Printing Figurine">
        </div>
    </div>
    <!-- component "card__loop-hidden-slider-slider" -->
    <!-- component "card__loop-hidden-slider-content" -->
    <div class="hidden-slider-content">
        <div class="card__content-title">
            Viserion Ice Dragon 3D Printing Figurine
        </div>
        <div class="card__content-line">
            <div class="card__price">
                $24.99
                <div class="card__oldprice">
                    $74.99
                </div>
            </div>
            <div class="card__cart">
                <a href="javascript:;" class="card__cart-link"></a>
            </div>
        </div>
    </div>
    <!-- component "card__loop-hidden-slider-content" -->
</div>