/* card__loop-hidden-slider.scss */

.card__hidden-slider {
  width: 500px;
  min-height: 300px;
  position: absolute;
  display: none;
  left: calc(100% + 15px);
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  top: -9%;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.55);
  flex-direction: column;

  @media (min-width: $breakepoint-xs) {
    width: 100vw;
    width: 100%;
    height: 100%;
    //top: 0;
    top: -9%;
    min-height: auto;
  }
  @media (min-width: $breakepoint-md) {
    width: 100%;
    height: 100%;
    //top: 0;
  }
  @media (min-width: $breakepoint-ipad-L) {
    width: 500px;
    height: auto;
    top: -9%;
  }
}


/* duplicate scss */

.over .card__controls, .over_l .card__controls,
.card__controls.component-active{
  @extend %flex-align;
  @media (min-width: $breakepoint-xs) {
    display:none;
  }
  @media (min-width: $breakepoint-lg) {
    display:inline-flex;
  }
}
.over .card__cart span, .over_l .card__cart span,
.card__cart.component-active span{
  display:none;
}
.over .card__content .card__price, .over_l .card__content  .card__price,
.component-active .card__price{
  @media (min-width: $breakepoint-xs) {
    display:inline-flex;
  }
  @media (min-width: $breakepoint-lg) {
    display: none;
  }
}

.over_l .card__hidden-slider,
.card__hidden-slider.component-active{
  @media (min-width: $breakepoint-xs) {
    right: auto;
    left: auto;
    align-self: center;
    max-width: 360px;
    max-height: 360px;
    overflow: hidden;
    z-index: 10;
    border-radius: 0px;
  }
  @media (min-width: $breakepoint-md) {
    max-width: initial;
    max-height: initial;
  }

}
.over_l .card__hidden-slider,
.card__hidden-slider.component-active-left{
  @media (min-width: $breakepoint-ipad) {
    right: calc(100% + 15px);
    left: auto;
    height: auto;
    min-height: auto;
  }
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    //width: 722px;
    left: 0;
    z-index: 20;
    left: auto;
    right: 0;
  }
}

.over .card__content-line .button_primary , .over_l .card__content-line .button_primary,
.component-active .card__content-line .button_primary {
  position: absolute;
  bottom: -32px;
  left: 0;
}

/* duplicate scss */

.over .card__hidden-slider, .over_l .card__hidden-slider,
.card__hidden-slider.component-active {
  width: 500px;
  height: auto;
  /*border-radius: 10px;*/
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.55) !important;
  border: 0px;
  @extend %flex-align;
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    width: 754px;
  }
  @media (min-width: $breakepoint-750) and (max-width: $breakepoint-md) {
    left: 0;
  }
  @media (min-width: $breakepoint-sm) and (max-width: $breakepoint-md)   {
    width: calc(100vw - 16px);
  }
  @media (min-width: $breakepoint-ipad) {
    width: 100%;
    left: calc(100% + 15px);
    height: auto;
    min-height: auto;
    z-index: 3;
  }
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    width: 722px;
    left: 0;
    z-index: 20;
  }
  @media (min-width: $breakepoint-lg) {
    width: 500px;
    height: auto;
    //height: 440px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.55)  !important;
    border: 0px
  }
}

.over_l .card__hidden-slider,
.card__hidden-slider.component-active-left{
  @media (min-width: $breakepoint-xs) {
    right: auto;
    left: auto;
    align-self: center;
  }
  @media (min-width: $breakepoint-ipad) {
    right: calc(100% + 15px);
    left: auto;
    height: auto;
    min-height: auto;
  }
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    left: 0;
    z-index: 20;
    left: auto;
    right: 0;
  }

}

.hidden-slider-item{
  @media (min-width: $breakepoint-xs) {
    height: 296px;
  }
  @media (min-width: $breakepoint-md) {
    height: 400px;
  }
  img{
    @media (min-width: $breakepoint-xs) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: auto;
      width: 100%;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    @media (min-width: $breakepoint-ipad-L) {
      border-radius:0px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

}

.card_mini .hidden-slider-item {
  max-height: 305px;
}
