/* card__loop-hidden-slider.scss */

.card__hidden-slider {
  width: 500px;
  min-height: 300px;
  position: absolute;
  display: none;
  left: calc(100% + 15px);
  background: #ffffff;
  z-index: 10;
  font-size: 16px;
  top: -10%;
  border-radius: 10px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.55);
  flex-direction: column;

  @media (min-width: $breakepoint-xs) {
    width: 100vw;
    width: 100%;
    height: 100%;
    top: 0;

    min-height: auto;
  }
  @media (min-width: $breakepoint-md) {
    width: 100%;
    height: 100%;
    top: 0;
  }
  @media (min-width: $breakepoint-ipad-L) {
    width: 500px;
    height: auto;
    top: -10%;
  }
}

.card__hidden-slider.component-active {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.55) !important;
  border: 0px;
  @extend %flex-align;
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    width: 754px;
  }
  @media (min-width: $breakepoint-xs) {
    right: auto;
    left: auto;
    width: 100vw;
    height: auto;
    top: 0;
    z-index: 10;
    border-radius: 0px;
    border: 2px solid rgba(0, 0, 0, 0.55);
    box-shadow: none !important;
  }
  @media (min-width: $breakepoint-750) and (max-width: $breakepoint-md) {
    left: 0;
  }
  @media (min-width: $breakepoint-sm) and (max-width: $breakepoint-md)   {
    width: calc(100vw - 16px);
  }
  @media (min-width: $breakepoint-ipad) {
    width: 100%;
    left: calc(100% + 15px);
    height: auto;
    min-height: auto;
    z-index: 3;
  }
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    width: 722px;
    left: 0;
    z-index: 20;
  }
  @media (min-width: $breakepoint-lg) {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.55)  !important;
    border: 0px
  }
}

.card__hidden-slider.component-active-left{
  @media (min-width: $breakepoint-xs) {
    right: auto;
    left: auto;
    align-self: center;
  }
  @media (min-width: $breakepoint-ipad) {
    right: calc(100% + 15px);
    left: auto;
    height: auto;
    min-height: auto;
  }
  @media (min-width: $breakepoint-md) and (max-width: $breakepoint-ipad-L1) {
    left: 0;
    z-index: 20;
    left: auto;
    right: 0;
  }

}

