<div class="rate main-header__rate">
    <div class="rate__desktop">
        <!-- component "header__main-rate-item" -->
        <a href="javacript:;" class="rate__item rate_active">
            Premium
        </a>
        <!-- component "header__main-rate-item" -->
        <!-- component "header__main-rate-item" -->
        <a href="javacript:;" class="rate__item">
            Stock
        </a>
        <!-- component "header__main-rate-item" -->
    </div>
    <div class="rate__mobile">
        <!-- component "header__main-rate-mobile" -->
        <div class="select">
            <select name="rate" id="rate">
                <option value="0" selected >Premium</option>
                <option value="1">Stock</option>
            </select>
        </div>
        <!-- component "header__main-rate-mobile" -->
    </div>
</div>