<div class="rate main-header__rate">
    <div class="rate__desktop">
        <div class="rate__item rate_active">
            Premium
        </div>
        <a href="javacript:;" class="rate__item rate__mob-link">
            Stock
        </a>
    </div>
    <div class="rate__mobile">
        <div class="select">
            <select name="rate" id="rate">
                <option value="0" selected >Premium</option>
                <option value="1">Stock</option>
            </select>
        </div>
    </div>
</div>