
/* header__main-menu.scss */

.rate{
  @extend %inline8px-padding;
  @extend %flex-align;
  position:relative;
  &__mob-link{
    @media (max-width: $breakepoint-md) {
      display: none;
      position: absolute;
      background: #fff;
      left: 8px;
      bottom: -32px;
    }
  }
  &__desktop{
    @media (min-width: $breakepoint-xs) {
      display: none;
    }
    @media (min-width: 769px) {
      display: inline-flex
    }
  }
  &__mobile{
    .select{
      border: solid 1px #e61a1a !important;
      border-radius: 4px;
    }
    select{
      padding: 0px 16px 0px 10px;
      min-width: 90px;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
    }
    @media (min-width: $breakepoint-xs) {
      display: block;
    }
    @media (min-width: 769px) {
      display: none;
    }
  }

}
