
<!--
Class description

.card_mini - variant for home page widthout title and author on desktop *** ( card has <a class=".card_mini__link" link for clicking on desktop )
.card_slider - card width hover pop up slider
.card_added-to-cart - card with green border
.card_sale-premium - card with yellow border
.card_featured - card 2x size in width
.card_masonry - card with different structure -> card__loop-masonry

-->


<div class="card card_mini card_slider">
    <div class="card__img">
        <a href="javascript:;" class="card_mini__link"></a> <!-- ONLY ON  .card_mini -->
        <img src="img/jpg/trending1.jpg" srcset="img/jpg/trending1@2x.jpg 2x, img/jpg/trending1@3x.jpg 3x" alt="Card img">
        <div class="labels">
            <div class="labels__list">
                <div class="labels__new">NEW</div>
                <div class="labels__hot"></div>
                <div class="labels__favorites"></div>
                <div class="labels__sale">-70%</div>
                <div class="labels__diorama"></div>
            </div>
        </div>
        <!-- hover block -->
        <input id="card__hover-mobile1" class="card__hover-mobile" type="checkbox" />
        <label for="card__hover-mobile1" class="card__hover-mobile-label"></label>
        <div class="card__mob-zoom"></div>
        <div class="card__hover-block">
            <div class="card__hover-settings">
                <input id="card__hover-settings-checkbox1" class="card__hover-settings-checkbox" type="checkbox" />
                <!-- component "card__loop-hover-button" -->
                <div class="card__loop-hover-button card__hover-settings-label">
                    <label for="card__hover-settings-checkbox1"></label>
                </div>
                <!-- component "card__hover-button" -->
                <!-- hover block settings block -->
                <div class="card__hover-settings-hidden-block">
                    <ul class="card__hover-settings-hidden-block-menu">
                        <li><a href="javascript:;">Edit Item</a></li>
                        <li><a href="javascript:;">Hide Item</a></li>
                        <li><a href="javascript:;">Delete</a></li>
                    </ul>
                </div>
            </div>
            <div class="card__hover-comments">
                <!-- component "card__loop-hover-button" -->
                <div class="card__loop-hover-button card__hover-comments-label"><span>55</span></div>
                <!-- component "card__loop-hover-button" -->
            </div>
            <div class="card__hover-etc">
                <!-- component "card__loop-hover-button" -->
                <div class="card__loop-hover-button card__hover-share"></div>
                <div class="card__loop-hover-button card__hover-list"></div>
                <div class="card__loop-hover-button card__hover-favourites"></div>
                <!-- component "card__loop-hover-button" -->
            </div>
            <!-- component "card__loop-hover-content" -->
            <div class="card__hover-content">
                <!-- component "card__loop-hover-item" -->
                <div class="card__hover-item">
                    <img src="img/svg/hover-size.svg" alt="File size">
                    <span>2799.35 MB</span>
                </div>
                <!-- component "card__loop-hover-item" -->
                <div class="card__hover-item">
                    <img src="img/svg/hover-resolution.svg" alt="File resolution">
                    <span>1:200, 1:400, 1:2000</span>
                </div>
                <div class="card__hover-item">
                    <img src="img/svg/hover-real-size.svg" alt="File real size">
                    <span>CM: 83 x 63 x 53<br>IN: 39 x 25 x 21</span>
                </div>
            </div>
            <!-- component "card__loop-hover-content" -->
        </div>
        <!-- hover block -->
    </div>
    <div class="card__content">
        <a href="javascript:;" class="card__content-title">
            Viserion Ice Dragon 3D Printing Figurine
        </a>
        <div class="card__content-author">
            by <a href="javascript:;">Oliver</a>
        </div>
        <div class="card__content-line">
            <ul class="card__controls" id="customize-controls" aria-label="Carousel Navigation" tabindex="0">
                <li class="prev button button_secondary button_m" data-controls="prev" aria-controls="customize" tabindex="-1"></li>
                <li class="next button button_secondary button_m" data-controls="next" aria-controls="customize" tabindex="-1"></li>
            </ul>
            <div class="card__price">
                $24.99
                <div class="card__oldprice">
                    $74.99
                </div>
            </div>
            <div class="card__cart">
                <a href="javascript:;" class="card__cart-link"></a>
            </div>
        </div>
    </div>
    <!-- card__hidden-slider -->
    <div class="card__hidden-slider">
        <div class="card__mob-zoom-close"></div>
        <div class="card__hidden-slider-count">
            <div class="slider-count-current"></div>&nbsp;of&nbsp;<div class="slider-count-total"></div>
        </div>
        <div class="hidden-slider">
            <div class="hidden-slider-item">
                <img src="img/png/model-iron1.png" alt="Viserion Ice Dragon 3D Printing Figurine">
            </div>
            <div class="hidden-slider-item">
                <img src="img/png/model-iron2.png" alt="Viserion Ice Dragon 3D Printing Figurine">
            </div>
            <div class="hidden-slider-item">
                <img src="img/png/model-iron3.png" alt="Viserion Ice Dragon 3D Printing Figurine">
            </div>
        </div>
        <div class="hidden-slider-content">
            <div class="card__content-title">
                Viserion Ice Dragon 3D Printing Figurine
            </div>
            <div class="card__content-line">
                <div class="card__price">
                    $24.99
                    <div class="card__oldprice">
                        $74.99
                    </div>
                </div>
                <div class="card__cart">
                    <a href="javascript:;" class="card__cart-link"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- card__hidden-slider -->
</div>