/* card__loop-hover-button.scss */
.card__loop-hover-button {
  padding: 8px;
  min-width: 32px;
  min-height: 32px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative; }

.card__loop-hover-button:hover {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.15); }
