
/* reset.scss in core.scss */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }
q {
  &:before, &:after {
    content: '';
    content: none; } }
table {
  border-collapse: collapse;
  border-spacing: 0; }
*, ::after, ::before {
  box-sizing: border-box;
}

/* core.scss */

.container{
  @media (min-width: $breakepoint-xs) {
    max-width: $screen-sm;
    padding-right: $padding-side-sm;
    padding-left: $padding-side-sm;
    padding:0;
  }
  @media (min-width: $breakepoint-sm) {
    max-width: $screen-sm;
    padding-right: $padding-side-sm;
    padding-left: $padding-side-sm;
  }
  @media (min-width: $breakepoint-md) {
    max-width: $screen-md;
    padding-right: $padding-side-md;
    padding-left: $padding-side-md;
  }
  @media (min-width: $breakepoint-lg) {
    max-width: $screen-lg;
    padding-right: $padding-side-lg;
    padding-left: $padding-side-lg;
  }
  @media (min-width: $breakepoint-xl) {
    max-width: $screen-xl;
    padding-right: $padding-side-xl;
    padding-left: $padding-side-xl;
  }
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  @media (min-width: $breakepoint-sm) {
    margin: 0;
  }
  @media (min-width: $breakepoint-md) {
    margin: 0;
  }
  @media (min-width: $breakepoint-lg) {
    margin-right: -12px;
    margin-left: -12px;
  }
  @media (min-width: $breakepoint-xl) {
    margin-right: -8px;
    margin-left: -8px;
  }
  &.row_full{
    margin:0;
  }
}
.container-full{
  width:100%;
  padding:12px 24px;
  margin: 0 auto;
  background: $main-bg;
  &__row{
    width: 100%;
    margin:0px;
    font-size: 0;
  }
}
body {
  font-family: $primary-font;
  font-size: 0px;
  font-weight: 400;
  color: $black;
  margin: 0;
  background-color: $second-bg;
  @include font-property(normal);
  /*@media (max-width: $breakepoint-md) {
    background-color: $main-bg;
  }*/
}
body.lock-position {
  overflow: hidden;
}
.container_inline {
  display: inline-flex;
  > div, > a, > span, > img, > form {
    display: inline-flex;
  }
}

.row [class*=col-]{
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 16px;
  @media (min-width: $breakepoint-xs) {
    padding: 0px;
  }
  @media (min-width: $breakepoint-md) {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.container-full-mob{
    @media (max-width: $breakepoint-md) {
      width: 100%;
      max-width: 100%;
    }
}


//cols

.col-12 {
  @include container-col(100%);
}
.col-6 {
  @include container-col(50%);
}

// xs

.col-xs-6{
  @media (min-width: $breakepoint-xs) {
    @include container-col(50%);
  }
}

// lg

.col-lg-6 {
  @media (min-width: $breakepoint-lg) {
    @include container-col(50%);
  }
}
.col-lg-4 {
  @media (min-width: $breakepoint-lg){
    @include container-col(33.333333%);
  }
}
.col-lg-2 {
  @media (min-width: $breakepoint-lg){
    @include container-col(16.666667%);
  }
}

ul, menu{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  list-style: none;
  font-size: 0;
  padding-left: 0px;
}
a{
  text-decoration: none;
}
:focus {
  outline: none;
}

// img

img{
  max-width:100%;
  height: auto;
  @media (max-width: $breakepoint-md) {
    max-height: 100%;
    height: 100%;
  }
}
