
/* reset.scss in core.scss */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote {
  &:before, &:after {
    content: '';
    content: none; } }
q {
  &:before, &:after {
    content: '';
    content: none; } }
table {
  border-collapse: collapse;
  border-spacing: 0; }
*, ::after, ::before {
  box-sizing: border-box;
}

/* core.scss */

/* import buttons */

.container{
  @media (min-width: $breakepoint-xs) {
    max-width: $screen-sm;
    padding-right: $padding-side-sm;
    padding-left: $padding-side-sm;
    padding:0;
  }
  @media (min-width: $breakepoint-sm) {
    max-width: $screen-sm;
    padding-right: $padding-side-sm;
    padding-left: $padding-side-sm;
  }
  @media (min-width: $breakepoint-md) {
    max-width: $screen-md;
    padding-right: $padding-side-md;
    padding-left: $padding-side-md;
  }
  @media (min-width: $breakepoint-lg) {
    max-width: $screen-lg;
    padding-right: $padding-side-lg;
    padding-left: $padding-side-lg;
  }
  @media (min-width: $breakepoint-xl) {
    max-width: $screen-xl;
    padding-right: $padding-side-xl;
    padding-left: $padding-side-xl;
  }
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  @media (min-width: $breakepoint-sm) {
    margin: 0;
  }
  @media (min-width: $breakepoint-md) {
    margin: 0;
  }
  @media (min-width: $breakepoint-lg) {
    margin-right: -12px;
    margin-left: -12px;
  }
  @media (min-width: $breakepoint-xl) {
    margin-right: -8px;
    margin-left: -8px;
  }
  &.row_full{
    margin:0;
  }
}
.container-full{
  width:100%;
  padding:12px 24px;
  margin: 0 auto;
  background: $main-bg;
  &__row{
    width: 100%;
    margin:0px;
    font-size: 0;
  }
}
body {
  font-family: $primary-font;
  font-size: 0px;
  font-weight: 400;
  color: $black;
  margin: 0;
  background-color: $second-bg;
  @include font-property(normal);
  /*@media (max-width: $breakepoint-md) {
    background-color: $main-bg;
  }*/
}
body.lock-position {
  overflow: hidden;
}
.container_inline {
  display: inline-flex;
  > div, > a, > span, > img, > form {
    display: inline-flex;
  }
}

.row [class*=col-]{
  position: relative;
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 16px;
  @media (min-width: $breakepoint-xs) {
    padding: 0px;
  }
  @media (min-width: $breakepoint-md) {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.container-full-mob{
    @media (max-width: $breakepoint-md) {
      width: 100%;
      max-width: 100%;
    }
}


//cols

.col-12 {
  @include container-col(100%);
}
.col-6 {
  @include container-col(50%);
}

// xs

.col-xs-6{
  @media (min-width: $breakepoint-xs) {
    @include container-col(50%);
  }
}

// lg

.col-lg-6 {
  @media (min-width: $breakepoint-lg) {
    @include container-col(50%);
  }
}
.col-lg-4 {
  @media (min-width: $breakepoint-lg){
    @include container-col(33.333333%);
  }
}
.col-lg-2 {
  @media (min-width: $breakepoint-lg){
    @include container-col(16.666667%);
  }
}

ul, menu{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  list-style: none;
  font-size: 0;
  padding-left: 0px;
}
a{
  text-decoration: none;
}
:focus {
  outline: none;
}

// img

img{
  max-width:100%;
  height: auto;
  @media (max-width: $breakepoint-md) {
    max-height: 100%;
    height: 100%;
  }
}

button{
  background: transparent;
  border-width: 0px;
}


.main-title{
  @include font-property(normal);
  @extend %flex-align;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.17;
  letter-spacing: normal;
  color: #101010;
  margin-bottom:32px;
  .button{
    @extend %inline16px-margin;
    @media (max-width: $breakepoint-md) {

    }
  }
  @media (max-width: $breakepoint-md) {
    font-size: 28px;
    line-height: 1.14;
    width: 100%;
    justify-content: flex-start;
  }
  @media (min-width: $breakepoint-xs) {
    padding:0px 8px;
  }
  @media (min-width: $breakepoint-md) {
    padding:0px;
  }

}


/* tiny slider global */

.tns-slider {
  -webkit-transition: all 0.01s;
  -moz-transition: all 0.01s;
  transition: all 0.01s; }

.tns-nav{
  @extend %flex-align;
  width: 100%;
  margin-top: 16px;
  position: relative;
  button {
    display: inline-flex;
    zoom: 1;
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    &.tns-nav-active{
      &:before{
        border-radius: 2px;
        background-color: #d50000;
        border: solid 1px #d50000;
      }
    }
    &:before{
      @extend %before;
      @extend %before-mid;
      margin: 4px;
      background: transparent;
      display: block;
      transition: opacity .2s ease;
      width: 8px;
      height: 16px;
      border-radius: 2px;
      border: solid 1px #bdbdbd;
    }
    &:hover{
      @extend .tns-nav-active;
    }
  }
}
.tns-controls button{
  font-size: 0px !important;
  padding: 0;
  background: transparent;
  margin: 0;
  border: 0px;
  position: absolute;
  top: 50%;
  z-index: 5;
  z-index: 1;
  border-radius: 2px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -32px;
  &:before{
    @extend %before;
    @extend %before-small;
    background-size: cover;
  }
  &:first-child{
    left: 8px;
    &:before{
      background-image: url(../../img/svg/owl-prev.svg);
    }
  }
  &:last-child{
    right: 8px;
    &:before{
      background-image: url(../../img/svg/owl-next.svg);
    }
  }
}

/* tiny slider global */
/* tiny slider main slider */

.main-slider{
  .tns-controls button {
    color: #FFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 44px 16px !important;
    margin-top: -61px;
    &:hover{
      background-color: rgba(0, 0, 0, 0.7);
    }
    &:before{
      width: 24px;
      height: 24px;
    }
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0px;
    }
  }
  .tns-nav {
    position: absolute;
    width: 100%;
    margin-top: 5px;
    @media (min-width: $breakepoint-xs) {
      bottom: 16px;
    }
    @media (min-width: $breakepoint-md) {
      bottom: 33%;
    }

  }
}

/* tiny slider main slider */
/* tiny slider main blocks slider */
.main-blocks{
.tns-controls button[data-controls="prev"] {
  left:8px;
}
.tns-controls button[data-controls="next"] {
  right:8px;
}
.tns-nav{
  margin-top:8px;
}

}

.slider-two-rows.owl-theme .owl-nav button{
  position: absolute;
}
.slider-two-rows.owl-theme .owl-nav button.owl-prev{
  left:-34px;
}
.slider-two-rows.owl-theme .owl-nav button.owl-next{
  right:-34px;
}
.slider-two-rows {
  padding-bottom: 0;
  &__item{
    cursor: pointer;
    margin-top: 8px;
    display: block;
    &:first-child{
      margin:0;
    }
    &:hover{
      .slider-two-rows__item-img{
        border: solid 2px #f2f2f2;
      }
      .slider-two-rows__title{
        color: #0030ff;
        text-decoration:underline;
      }
    }
  }
}

/* tiny slider main blocks slider */

/* tiny slider style-black */

.slider-style-black {
  .tns-controls {
    button{
      background-color: transparent;
      padding: 8px;
      &:hover{
        background: #e6e6e6;
      }
    }
    button[data-controls="prev"] {
      margin-left: 0px;
      left: 0;
      left: -15px;
      @media (max-width: $breakepoint-md) {
        margin-left: 0;
        left: 0;
      }
      &:before {
        background-image: url(../../img/svg/owl-prev-black.svg);
        width: 24px;
        height: 24px;
      }
    }

    button[data-controls="next"] {
      margin-right: 0px;
      right: 0;
      right: -15px;
      @media (max-width: $breakepoint-md) {
        margin-right: 0;
        right: 0;
      }

      &:before {
        background-image: url(../../img/svg/owl-next-black.svg);
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* tiny slider style-black */

/* tiny slider cards */

.slider-cards {
  > .tns-outer {
    > .tns-controls button {
      color: #FFF;
      font-size: 14px;
      cursor: pointer;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 44px 16px !important;
      margin-top: -61px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
      }
      &:before {
        width: 24px;
        height: 24px;
      }
    }
    > .tns-controls button[data-controls="prev"] {
      @media (min-width: $breakepoint-xs) {
        left: -60px;
      }
      @media (min-width: $breakepoint-xxl) {
        left: -72px;
      }
    }

    > .tns-controls button[data-controls="next"] {
      @media (min-width: $breakepoint-xs) {
        right: -60px;
      }
      @media (min-width: $breakepoint-xxl) {
        right: -72px;
      }
    }

    > .tns-controls button[disabled] {
      opacity: 0;
    }
  }
}

/* tiny slider cards */

.page-inner{
  padding-top:40px;
}